<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="format-detection"
      content="telephone=no"
    />
    <meta
      name="msapplication-tap-highlight"
      content="no"
    />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <!-- Primary Meta Tags -->
    <meta
      name="description"
      content="DeepNotes is an open source, end-to-end encrypted visual note-taking app with bidirectional page navigation and live collaboration."
    />
    <meta
      name="keywords"
      content="deepnotes, deep notes, note-taking, visual, spatial, end-to-end encrypted, collaborative, open source"
    />
    <meta
      name="robots"
      content="index, follow"
    />
    <meta
      http-equiv="Content-Type"
      content="text/html; charset=UTF-8"
      data-qmeta="equiv"
    />
    <meta
      name="language"
      content="English"
      data-qmeta="language"
    />

    <!-- Open Graph / Facebook -->
    <meta
      property="og:type"
      content="website"
    />
    <meta
      property="og:url"
      content="https://deepnotes.app/"
    />
    <meta
      property="og:title"
      content="DeepNotes - Infinite Canvas Note-taking"
    />
    <meta
      property="og:description"
      content="DeepNotes is an open source, end-to-end encrypted visual note-taking app with bidirectional page navigation and live collaboration."
    />
    <meta
      property="og:image"
      content="/meta-image.png"
    />

    <!-- Twitter -->
    <meta
      property="twitter:card"
      content="summary_large_image"
    />
    <meta
      property="twitter:url"
      content="https://deepnotes.app/"
    />
    <meta
      property="twitter:title"
      content="DeepNotes - Infinite Canvas Note-taking"
    />
    <meta
      property="twitter:description"
      content="DeepNotes is an open source, end-to-end encrypted visual note-taking app with bidirectional page navigation and live collaboration."
    />
    <meta
      property="twitter:image"
      content="/meta-image.png"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href="icons/favicon-128x128.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="icons/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/ico"
      href="favicon.ico"
    />

    <script src="/argon2-bundled.min.js"></script>
  </head>
  <body spellcheck="false">
    <!-- quasar:entry-point -->
  </body>
</html>
